# ===== Rust =====
/target/
**/*.rs.bk

# ===== IDEs =====
.idea/
.vscode/

# ===== macOS =====
.DS_Store
.AppleDouble
.LSOverride

# ===== Windows =====
Thumbs.db
ehthumbs.db
Desktop.ini

# ===== Linux =====
*~

# ===== Environment files =====
.env
.env.*

# ===== Logs =====
*.log
